@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .about {
    animation: fadeIn 3s forwards;
  }

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-200px);
      opacity: 0; 
    }
    100% {
      transform: translateX(0);
      opacity: 1; 
    }
  }
  
  .about_img {
    animation: slideInFromLeft 3s forwards; 
  }

  